/* MAIN DIVS */

*{}
body{}
header{}
nav{}
.hero{}
footer{}

/* INNER DIVS */

/* LOGOS */
.logo{}
.logo-menu{}
.logo-hero{}

/* TITLES */
.title{}
.title-hero{}

/* OTHERS */
.message{}
.action-button{}

/* MEDIA */
/* ... */
/* DEPENDENCIES */
/* ... */
/* EXTRAS */
/* ... */